{
    "tests": [
        {
            "project": "InfiniCore",
            "env_name": "Windows本机",
            "repo_url": "git@github.com:PanZezhong1725/InfiniCore.git",
            "device_type": "nvidia",
            "branches": [
                "main"
            ],
            "notifier": {
                "type": "Feishu",
                "url": "https://open.feishu.cn/open-apis/bot/v2/hook/****"
            }
        }
    ]
}